{% extends 'layout.html' %}
{% block page_body %}
    <div class="container-fluid p-5 bg-primary text-white text-center">
        <h1>CarFigures Admin Panel</h1>
        <p>Ptn c bo</p>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-2">
                <h2>Logged in user: <code>{{ request.state.admin.username }}</code></h2>
                <img src="{{ request.state.admin.avatar }}" class="rounded">
            </div>
            <div class="col-sm-10">
                <h2>Statistics</h2>
                <ul>
                    <li>
                        <strong>Number of cars registered:</strong> <code>{{ car_count }}</code>
                    </li>
                    <li>
                        <strong>Number of guilds with config:</strong> <code>{{ guild_count }}</code>
                    </li>
                    <li>
                        <strong>Number of players:</strong> <code>{{ player_count }}</code>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
